
#predict option{
  text-transform: capitalize;
}

#result table {
  margin:20px auto;
}

#result table td{
  padding:10px; 
  border:2px solid black;
  text-transform: capitalize;
  font-weight: 500;
}

