<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <title>Predict it</title>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand bg-secondary px-3" href="/">Predict-it</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/#predict">Predict Price</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/list_cars">List your car</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/browse">Browse Cars</a>
                    </li>
                </ul>

                <div class="d-flex">
                    {% if user.is_authenticated %}
                    <button class="btn btn-dark text-white mx-3">
                        <a class="nav-link text-white p-1" aria-current="page"
                            href="/dashboard">{{request.user.first_name}}</a>
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                        <a class="text-white text-decoration-none" href="/logout">Logout</a>
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                        data-bs-target="#loginModal">
                        Login
                    </button>
                    <button type="button" class="btn btn-outline-warning mx-2" data-bs-toggle="modal"
                        data-bs-target="#SignupModal">
                        SignUp
                    </button>
                    {% endif %}
                </div>

            </div>
        </div>
    </nav>

    <div class="alert alert-success alert-dismissible fade show" role="alert" style="display:{{dis}}">
        {{dis_messsage}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!--Signup Modal -->
    <div class="modal fade" id="SignupModal" tabindex="-1" aria-labelledby="SignupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SignupModalLabel">SignUp</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3" action="/signup" method="POST">
                        {% csrf_token %}
                        <div class="col-md-8">
                            <label for="signup-email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="signup-email" name="signup-email" required>
                        </div>
                        <div class="col-md-8">
                            <label for="signup-username" class="form-label">Enter your name</label>
                            <input type="text" class="form-control" id="signup-username" name="signup-username"
                                required>
                        </div>
                        <div class="col-md-8">
                            <label for="signup-password" class="form-label">Set a password</label>
                            <input type="password" class="form-control" id="signup-password" name="signup-password"
                                required>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3" action="/login" method="POST">
                        {% csrf_token %}
                        <div class="col-md-8">
                            <label for="login-email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="login-email" name="login-email" required>
                        </div>
                        <div class="col-md-8">
                            <label for="login-password" class="form-label">Enter your password</label>
                            <input type="password" class="form-control" id="login-password" name="login-password"
                                required>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>





        <div class="mb-5">
            <img src="/static/assets/home-1.jpg" height="400px" width="100%" alt="">
        </div>
    <div class="container mb-5" id="intro">
        <div>
            <h2>Get the right price</h2>
            <h4>Confused about how much to charge for selling you car ?</h4>
            <h4><a href="#predict" class="text-decoration-none">Predict</a> you car price here.</h4>
            <h4>You might be missing some extra money</h4>
            <br>

            <a href="/#features" class="btn btn-dark">Explore more</a>
        </div>

    </div>


    <div class="container p-2" id="features">
        <h3 class="mb-3">Sailent features</h3>

        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-success">Predict Used Car Price</h5>
                        <p class="card-text">Get an approximate price of your car based on machine leraning algorithm
                        </p>
                        <a href="/#predict" class="btn btn-secondary">Predict price</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-success">List Car for sale</h5>
                        <p class="card-text">Struggling to find buyers for your car, donot worry , we have covered it
                            all for you</p>
                        <a href="/list_cars" class="btn btn-secondary">List your car</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-success">Browse cars</h5>
                        <p class="card-text">Browse cars based on your budget and find the best buy for you.</p>
                        <a href="/browse" class="btn btn-secondary">Browse</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- prediction section starts here -->
    <div class="container my-5" id="predict">
        <h2>Price prediction</h2>
        <form method="POST" action="/#result">
            {% csrf_token %}
            <div class="mb-3">
                <label for="km_driven" class="form-label">Km driven</label>
                <input type="text" name="km_driven" class="form-control" id="km_driven" required>
            </div>
            <div class="mb-3">
                <label for="car_name" class="form-label">Select Your Car</label>
                <select name="car_name" id="car_name" class="form-control" required>
                    <option value="">Click here to select your car model</option>

                    {% for i in data %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}

                </select>
            </div>
            <div class="mb-3">
                <label for="dealer_type" class="form-label">Dealer type</label>
                <select name="dealer_type" id="dealer_type" class="form-control" required>
                    <option value="">Click here to select your dealer type</option>
                    <option value=0>Individual</option>
                    <option value=1>Dealer/Broker</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="owners_count" class="form-label">Number of owners till date</label>
                <select name="owners_count" id="owners_count" class="form-control" required>
                    <option value="">Click here to past number of owners</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>

                </select>
            </div>

            <button type="submit" class="btn btn-dark">Predict</button>
        </form>
        <div class="my-5" id="result" style="display:{{display}}">
            <h1>Predicted Price :<span class="text-success"> ₹{{predicted_price}}</span></h1>
            <button type="button" class="btn btn-dark my-3"><a href="/#predict"
                    class="text-white text-decoration-none">Predict another car's price</a></button>
            <h2>Car Details</h2>
            <table>
                <tr>
                    <td>kms driven</td>
                    <td>{{km_driven}}</td>
                </tr>

                <tr>
                    <td>car name</td>
                    <td>{{car_name}}</td>
                </tr>

                <tr>
                    <td>year</td>
                    <td>{{year}}</td>
                </tr>

                <tr>
                    <td>fuel type</td>
                    <td>{{fuel_type}}</td>
                </tr>

                <tr>
                    <td>transmission</td>
                    <td>{{transmission_type}}</td>
                </tr>

                <tr>
                    <td>dealer type</td>
                    <td>{{dealer_type}}</td>
                </tr>

                <tr>
                    <td>owners count till today</td>
                    <td>{{owners_count}}</td>
                </tr>

                <tr>
                    <td>present price</td>
                    <td>₹{{present_price}}</td>
                </tr>

            </table>

            <div class="my-3">
                <h4>Now that you are done with getting an idea about your car price</h4>
                <h4>Are you struggling to find buyers ?</h4>
                <h4>List you car for sale for free on our platform</h4>
                <button type="button" class="btn btn-dark" style="margin:5px; width:100%;"><a href="/list_cars"
                        class="text-white text-decoration-none">List your car on our platform</a></button>
                <button type="button" class="btn btn-dark" style="margin:5px; width:100%;"><a href="/browse"
                        class="text-white text-decoration-none">Browse used cars</a></button>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</body>

</html>